<div class="cart-container">
  <h1>Shopping Cart</h1>
  <i ng-show="!checkout.contentLoaded" class="spinner spinner--large spinner--dark"></i>
  <section ng-show="checkout.contentLoaded">
    <table>
       <tr class="head">
       <th></th>
       <th></th>
        <th class="head-text">Quantity</th>
        <th class="head-price">Price</th>
      </tr>
      <tr ng-repeat="item in items">
        <td><img ng-src="{{item.images[0].url.http}}" width="95px" height="110px" alt="{{item.title}}"></td>
        <td>{{item.title}}</td>
        <td class="quant">{{item.quantity}}</td>
        <td class="item-total">{{item.total_before_tax | currency}}</td>
      </tr>
    </table>
    <table class="totals">
      <tr>
        <td>Subtotal</td>
        <td>{{totals.without_tax | currency}}</td>
      </tr>
       <tr>
        <td>Total</td>
        <td>{{totals.with_tax | currency}}</td>
      </tr>
    </table>
    <button>Checkout</button>
    <button ng-click="checkout.toProducts()">Continue Shopping</button>
  </section>
</div>