<nav>
    <h1 id="title">Everything Must Go</h1>
    <ul class="access-links">
        <li ng-if="auth.$getAuth()">Welcome back!</li>
        <li id="logout" class="logout" ng-if="auth.$getAuth()" ng-click="logout()">Logout</li>
        <li ng-hide="auth.$getAuth()"><a id="register" href="#/register">Register</a></li>
        <li ng-hide="auth.$getAuth()"><a id="login" href="#/login">Login</a></li>
        <li><a id="products" href="#/products">Shop</a></li>
        <li><a ng-href="#/checkout"><i id="itemCount" ng-show="{{items.total_items !== 0}}" >{{items.total_items}}</i><img ng-cloak src="./images/shop_cart.png" width="65px" alt="Shop Icon"></a></li>
    </ul>
</nav>
