@mixin addSeparator($element, $separator, $padding) {
    #{$element+'+'+$element}:before {
        content: $separator;
        padding: 0 $padding;
    }
}

.spinner {
    position: relative;
    /* [1] */
    
    display: inline-block;
    width: 1em;
    /* [2] */
    
    height: 1em;
    /* [2] */
    
    font-size: 32px;
    /* [3] */
    
    border-bottom: 1px solid;
    /* [4] */
    
    vertical-align: middle;
    overflow: hidden;
    /* [5] */
    
    text-indent: 100%;
    /* [5] */
    
    -webkit-animation: 0.5s spinner linear infinite;
    -moz-animation: 0.5s spinner linear infinite;
    animation: 0.5s spinner linear infinite;
    &, &:after {
        border-radius: 100%;
        /* [1] */
    }
    &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border: 3px solid;
        /* [1] */
        
        opacity: 0.5;
        /* [2] */
    }
}

[ng\:cloak],
[ng-cloak],
.ng-cloak {
    display: none;
}

.spinner--small {
    font-size: 24px;
}

.spinner--large {
    font-size: 64px;
}

@-webkit-keyframes spinner {
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes spinner {
    to {
        -moz-transform: rotate(360deg);
    }
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

body {
    width: 100%;
    height: 50em;
    font-family: 'Neuton', serif;
    background-color: #EAEAE6;
}

div {
    nav {
        height: 4.5em;
        background-color: #2D3E4E;
        padding: 1.5em 4em 0 3.7em;
        border-bottom: 1px solid #dedede;
        h1 {
            font-size: 2.5em;
            display: inline-block;
            font-family: 'Montserrat', sans-serif;
            border: 2px solid #3F7CAC;
            padding: .2em;
            background-color: #EAEAE6;
        }
        ul {
            list-style-type: none;
            display: inline-block;
            text-align: left;
        }
        .nav-links {
            margin-left: 5em;
        }
        .access-links {
            float: right;
            margin-right: 2em;
            color: #dedede;
        }
        .logout {
            cursor: pointer;
        }
        @include addSeparator('li', '|', 1em);
        li {
            display: inline-block;
            list-style-type: none;
            font-size: 1.2em;
            margin: 1em 0;
            vertical-align: top;
            a {
                text-decoration: none;
                color: #dedede;
            }
            i {
              position: relative;
              left: 2.2em;
              bottom: 1.5em;
              cursor: pointer;
            }
        }
        li:last-child {
          margin-top: -.6em;
          margin-left: .5em;
          &:before {
            display: none;
          }
        }
    }
}

.auth-field {
    transition: all 1s ease;
    position: relative;
    bottom: -2em;
}

.login {
    transition: all 1s ease;
    position: relative;
    bottom: -2em;
}

.view {
    background-color: #EAEAE6;
    transition: all .3s ease;
}

.view.ng-enter {
    .login {
        opacity: 0;
        bottom: 20em;
        position: relative;
    }
    .auth-field {
        opacity: 0;
        position: relative;
        bottom: 30em;
    }
}
