// http://meyerweb.com/eric/tools/css/reset/
// v2.0 | 20110126
// License: none (public domain)

@mixin meyer-reset {
  html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, form, label, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }

  // HTML5 display-role reset for older browsers
  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
  }
  body {
    line-height: 1;
  }
  ol, ul {
    list-style: none;
  }
  blockquote, q {
    quotes: none;
  }
  blockquote {
    &:before, &:after {
      content: "";
      content: none;
    }
  }
  q {
    &:before, &:after {
      content: "";
      content: none;
    }
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
}

@include meyer-reset;
/*=================
 Content Styles 
 ===================*/

@mixin addSeparator($element, $separator, $padding) {
    #{$element+'+'+$element}:before {
        content: $separator;
        padding: 0 $padding;
    }
}



.spinner {
    position: relative; /* [1] */
    display: inline-block;
    width:  1em; /* [2] */
    height: 1em; /* [2] */
    font-size: 32px; /* [3] */
    border-bottom: 1px solid; /* [4] */
    vertical-align: middle;
    overflow: hidden;  /* [5] */
    text-indent: 100%; /* [5] */
    -webkit-animation: 0.5s spinner linear infinite;
       -moz-animation: 0.5s spinner linear infinite;
            animation: 0.5s spinner linear infinite;

    &,
    &:after {
        border-radius: 100%; /* [1] */
    }
     
    &:after {
        content: "";
        position: absolute;
        top:    0;
        right:  0;
        bottom: 0;
        left:   0;
        border: 3px solid; /* [1] */
        opacity: 0.5; /* [2] */
    }

}


.spinner--small { font-size: 24px; }
.spinner--large { font-size: 64px; }


@-webkit-keyframes spinner {

    to {
        -webkit-transform: rotate(360deg);
    }

}

@-moz-keyframes spinner {

    to {
        -moz-transform: rotate(360deg);
    }

}

@keyframes spinner {

    to {
        transform: rotate(360deg);
    }

}

body {
  width: 100%;
  height: 50em;
  font-family: 'Neuton', serif;
  background-color: #EAEAE6;
}
div {
   nav {
       height: 4.5em;
       background-color: #2D3E4E;
       padding: 1.5em 4em 0 3.7em;

       h1 {
        font-size: 2.5em;
        display: inline-block;
        font-family: 'Montserrat', sans-serif;
        border: 2px solid #3F7CAC;
        padding: .2em;
        background-color: #EAEAE6;
       }
       ul {
        list-style-type: none;
        display: inline-block;
        text-align: left;
       }
       .nav-links {
        margin-left: 5em;

       }
       .access-links {
        float: right;
        margin-right: 2em;
        color: #dedede;
        
       }
       @include addSeparator('li', '|', 1em);
       li {
        
        display: inline-block;
        list-style-type: none;
        font-size: 1.2em;
        margin: 1em 0;
         a {
          text-decoration: none;
          color: #dedede;
         }
       }
      
    }
  }


  .auth-field {
    transition: all 1s ease;
    position: relative;
    bottom: -2em;
  }

    .login {
    transition: all 1s ease;
    position: relative;
    bottom: -2em;
  }

  .view {
    background-color: #EAEAE6;
    transition: all .3s ease;
  }
  

  .view.ng-enter {
      
     .login {
        opacity: 0;
        bottom: 20em;
        position: relative;
     } 
     .auth-field {
        opacity: 0; 
        position: relative;
        bottom: 30em;
     }
  }



  section.home {
    margin: 0 auto;
    width: 87%;

    
    div.banner {
      position:relative;
      margin: auto;
      background-image: url('../images/store-home.jpg');
      width: 100%;
      height: 40em;
      margin-bottom: 2em;
      background-size: cover;
      background-position: 75%;
    }
   }
    div.content-wrap {

      div {
        vertical-align: top; 
      }

    div.text-content {
      display: inline-block;
      padding: 1em;
      width: 30%;
      height: 10em;
      border: 2px solid #dedede;
      p {
        line-height: 2em;

      }
    }
    div.location-info {

      display: inline-block;
      margin: 0 4em;
      ul {
        margin-top: 0;
        li {
          margin-bottom: 1.7em;
          font-size: 1.3em;

        }
      }
    }
    div.store-map {
        display: inline-block; 
        border-left: 2px solid #dedede;
        border-right: 2px solid #dedede;
        padding: 0 2em;
        margin-left: 2em;

    }
  }  

  section.products {
    margin: 0 auto;
    width: 95%;
    height: 40em;
    background-color: #EAEAE6;
    padding-top: 1.5em;
    aside {
      border: 2px solid #000;
      display: inline-block;
      min-height: 6em;
      width: 9%;
      margin-left: 1.5%;

      i {
        left: 1.1em;
        top: 0.5em;
        position: relative;
      }
      ul {
        li {
          text-decoration: none;
          list-style-type: none;
          padding:.5em;
          font-size: 1.1em;
          text-align: left;
          a {
            color: #000;
            text-decoration: none;
            text-align: center;
            font-family: 'Montserrat', sans-serif;
          }
          &:hover {
            background-color: #2D3E4E;
            a {color: #c0cad6}
          }
        }
        li.active {
          background-color: #808080;
        }
      }
    }
    div.product-container {
        float: right;
        width: 63.3%;
        border: 1px solid #000;
        height: 100%;
        padding: 1em 2em;
        overflow: scroll;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        left: -14%;
        background-color: #fff;
        div.item.ng-enter {
          opacity: 0;
        }
        div.item {
          width: 30%;
          height: 30%;
          margin: .5em .7em;
          text-align: center;
          position: relative;
          transition: opacity .5s ease;

          &:hover {
            button {
              display: block;
            }
            img {
              margin-top: 2.5%;
            }
          }
            img {
              transition: all;
              max-height: 125px;
              margin-top: 4%;
              -webkit-transition: margin-top ease .3s;
              -moz-transition: margin-top ease .3s;
              -o-transition: margin-top ease .3s;
              transition: margin-top ease .3s;
            }
            div { 
              position: absolute;
              margin: auto;
              left: 0; bottom: 2em; right: 0;
            }
            @include addSeparator('span', '|', 1em);
            button {
              display: none;
              width: 100%;
              position: absolute;
              bottom: 0;
              left: 0;
              height: 2.5em;
            }
        }

    }
    div.shop-cart {
      width: 4.5%;
      display: inline-block;
      height: 8.5%;
      padding: .5em .5em;
      position: relative;
      left: -12%;
      float: right;
        &:hover {

        }
      img {
          position: relative;
          top: -40%;
          right: 10%;
      }
      span {
        color: #dedede;
        position: relative;
        z-index: 12;
        top: 30%;
        left: 45%;
        font-family: 'Montserrat', sans-serif;
      }
      button {
        border: 1px solid #000;
        padding: 1em;
        cursor: pointer;
        display: block;
        margin: 1em auto;
      }
    }
  }

  div.cart-container { 
    width: 60%;
    height: 100%;
    margin: 2em auto;
    padding-bottom: 10em;

    h1 {
      font-size: 3em;
      font-family: 'Montserrat', sans-serif;
      border-bottom: 5px solid #000;
      display: inline-block;
      padding-bottom: .3em;
      width: 9em;


    }
    i {
        position: relative;
        bottom: .2em;
        right: 1em;
    }

    section {
      transition: opacity .7s ease-in;
      background-color: #fff;
      border: 2px solid #000;
      margin-top: 1.5em;
    }

    section.ng-animate {
      opacity: 0;
    }
  
      table {
        margin: 2em auto;
        width: 90%;
        tbody {
          width: 80%;
        }
        th.head-text {
            font-size: 1.2em;
            position: relative;
            right: 3.5em;
        }
        th.head-price {
            font-size: 1.2em;
            position: relative;
            right: 2.1em;
        }
        tr {
          height: 9em;
          border-bottom: 2px solid #dedede;
        }
        tr.head {
          height: 2em;
        }
        td {
          font-size: 1.2em;
          vertical-align: middle;
        }
        td.quant {
          padding-right: 2em;
        }
      }
      table.totals {
        tbody {
          text-align: right;
          tr {
            height: 4em;
            :first-child {
              position: relative;
              left: 6em;
              font-weight: bold;
            }
          }
          td {
            position: relative;
            right: 4em;
          }
        }
      }
      button {
        float: right;
        margin-right: 6em;
        padding: .9em;
        font-size: 1.2em;
        margin-top: 2em;
      }
      a {
        align-items: flex-start;
        text-align: center;
        cursor: default;
        color: buttontext;
        padding: 2px 6px 3px;
        border: 2px outset buttonface;
        border-image-source: initial;
        border-image-slice: initial;
        border-image-width: initial;
        border-image-outset: initial;
        border-image-repeat: initial;
        background-color: buttonface;
        box-sizing: border-box;
        float: right;
        margin-right: 6em;
        padding: .9em;
        font-size: 1.2em;
      }
  }

  section.Auth {
      
      width: 100%;
      position: absolute;
      height: 50em;
      background-image: url('../images/auth_bg.jpg');
      background-repeat: no-repeat;
      background-size: 100%;
  }


  div.auth-container {
    width: 33%;
    margin: 5em auto;
    position: relative;

    legend {
      text-align: left;
      font-size: 2.5em;
      font-family: 'Montserrat', sans-serif;
    }

    fieldset {
      background-color: #EAEAE6;
      font-size: 1.2em;
      text-align: right;
      padding-bottom: 2em;
    }
    
    ul {
      float: left;
      margin-left: 4.5em;
      li {
        margin: 1.85em 0em;

      }
    }

    input {
      margin: 2.5em 7em 0em 2em;
      height: 2em;
      float: right;
    }
    button {
      clear: both;
      position: relative;
      right: 4em;
      top: 2em;
      padding: 1em;
      margin-right: 2em;
    }
  }

  form.login {
    button {
        margin-right: 1em;
    }
  }
