<section class="Auth">
  <div class="auth-container" id="auth">
    <form class="login" name="loginForm" 
      ng-submit="login()" 
      novalidate>

      <fieldset>
  
        <legend>Login</legend>
        <p class="success" ng-show="loginForm.$submitted && authData">Success!!</p>
        <p class="error" ng-show="loginForm.$submitted && error">Provide a valid email and password</p>
        <ul>
          <li>Email:</li>
          <li>Password:</li>
        </ul>
        
        <input
          type="email" 
          name="email" 
          ng-model="user.email"
          ng-required="true"
          autofocus><br>
  
       
        <input 
          type="password"
          name="password"
          ng-model="user.password"
          ng-required="true"
          ><br>
  
  
      <button 
         ng-disabled="loginForm.$invalid"
         type="submit">Login</button>
      <button ng-click="toRegister()">Register</button>
      <button ng-click="toProducts()">Continue</button>
      </fieldset>
    </form>
  </div>
</section>