<nav navigation></nav>
<section class="products">
  <aside class="product-nav">
    <ul>
      <li ng-repeat="department in departments"><a ng-href="#/products/{{department.id}}">{{department.title}}</a></li>
    </ul>
  </aside>
  <div class="shop-cart">
    <span><!--Number of Items -->Items</span>
    
    <button>Shopping Cart</a></button>
  </div>
  <div class="product-container">
    <div class="item" ng-repeat="product in products">
      <p>{{product.title}}</p>
      <button ng-click="addToCart()"></button>
    </div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <!-- Product Directives -->
  </div>

</section>